*{
    margin: 0%;
    padding: 0%; 
 box-sizing: border-box;
}
body{
line-height: 1.8;

    font-family: "Nunito Sans", Arial, sans-serif;
}

header{
    height:15vh;
    width: 100%;
    background: #06112a;
    color: #999999;
     display: flex; 
    justify-content: center;
    align-items: center;
    font-size: small;
    flex-wrap: wrap;
    font-family: "Nunito Sans", Arial, sans-serif;

}
.headcontainer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
    height: 15vh;
width: 85%;
 display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: small;
flex-wrap: wrap; 
}
.headicon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.411);
    margin-right: 10px;
}
.headicon img{
    width: 20px; 
    height: 20px; 
   
}
.text1{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}
.text2{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}
.text3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
}

.nav {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
    animation: imgs 9s infinite; 
    z-index: -1;
}

@keyframes imgs {
    0% {
        background-image: url("https://preview.colorlib.com/theme/oakberry/images/bg_1.jpg");
    }
    33% {
        background-image: url("https://preview.colorlib.com/theme/oakberry/images/bg_2.jpg");
    }
    66% {
        background-image: url("https://preview.colorlib.com/theme/oakberry/images/bg_3.jpg");
    }
    100% {
        background-image: url("https://preview.colorlib.com/theme/oakberry/images/bg_1.jpg");
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay > div {
    position: absolute;
    width: 80%;
    max-width: 550px;
    color: white;
    opacity: 0;
    transition: opacity 1s;
}

@keyframes textFadeIn {
    0%, 100% {
        opacity: 0;
    }
    10%, 20% {
        opacity: 1;
    }
    30%, 100% {
        opacity: 0;
    }
}
#text-1 h2 {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 400;
font-size: 70px;
line-height: 1.1;
}
#text-2 h2 {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.1;
    }
    #text-3 h2 {
        font-family: "Nunito Sans", Arial, sans-serif;
        font-size: 70px;
        font-weight: 400;
        line-height: 1.1;
        }
#text-1 {
   
    animation: textFadeIn 9s infinite;
}

   #text-2 {
  
    animation: textFadeIn 9s infinite 3s;
} 

 #text-3 {
   
    animation: textFadeIn 9s infinite 6s;
}   

#learnbtn {
    margin-top: 8%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 50px !important;
    width: 20% !important;
}
.navbar{
    width: 100%;
    height: 100vh;
    background-color: #22223096;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.navigationbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2d2d2e42;

}
.logo{
    margin-left: 10%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
cursor: pointer;
}
.logo p{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    cursor:pointer;
    padding: 0% !important;
}

#p1{
  
    font-size: 12px;
    color: #fff;
    cursor:pointer;
    text-align: center;
    
}

nav li{
    flex-wrap: wrap;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
a{
    font-size: 16px;
    font-weight:100;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
button
{
    margin-right: 10%;
    width: 12%;
    height: 60%;
    background-color: #5ea51d;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.popup{
    height: 20% !important;
    width: 60%;
    max-height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: 20%;
    z-index: 9999;
    margin-top: -50px;
    box-shadow: #06112a;
    border: 2px solid rgba(0, 0, 0, 0.137);
}
.searchproperties{
    display: flex;
    font-size: 14px;  
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
label{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;  
}
input{
    border: 0;
    margin-bottom: 10px;
}
.searchbtn{
    color: #f5f3f3;
    background-color: #5ea51d;
    height: 50px;
    width: 200px !important;
   
}
.buyandrent{
    display: flex;

}
 .buybtn{
    height: 50px; 
    width: 200px; 
    font-size: 16px;
    background-color:#9693932a; 
    color: #5ea51d;
    cursor: pointer;

}
.buybtn:hover{
    color: #fff; 
    background-color: #5ea51d;
}
.rentbtn{
    height: 50px; 
    width: 200px; 
    font-size: 16px;
    color: #fff; 
    background-color: #5ea51d;
    cursor: pointer;
}
.rentbtn:hover{
    background-color: #fff; 
    color: #5ea51d;
}

.herocontainer{
    height:150vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.herocontainer p{
    font-size: 14px;
    color: #5ea51d;
}
.herocontainer h1{
    font-size: 50px;
    text-align: center;
    color: #3f4042;
    max-width: 50% !important;
}
.cards{
    max-width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
     color: #3f4042;
     flex-wrap: wrap;
    
}
.card1 , .card2,.card3 ,.card4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5dc;
    height: 220px;
    width: 220px;
    margin-left: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}
.icon {
    width: 70px; 
    height: 70px;
  
}
.card1:hover{
    background-color: #5ea51d;
    color: #fff;
}
.card2:hover{
    background-color: #5ea51d;
    color: #fff;
}
.card3:hover{
    background-color: #5ea51d;
    color: #fff;
}
.card3:hover{
    background-color: #5ea51d;
    color: #fff;
}
.card4:hover{
    background-color: #5ea51d;
    color: #fff;
}

.citycards{
    max-width: 65% !important;
    display: flex;
    align-items: center;
    justify-content:space-around;
  flex-wrap: wrap;
  margin-left:100px ;
  margin-top: 30px;

}
.citycard1 , .citycard2, .citycard3, .citycard4
, .citycard5, .citycard6, .citycard7, .citycard8
, .citycard9, .citycard10, .citycard11, .citycard12
{
    height: 100px;
    width: 200px;
    margin: 10px;
}
.citybutton{
    background-color: #f5f3f3;
    height: 30px;
    width: 120px;
    color: #5ea51d;
    font-size: 15px;
}
.citybutton:hover{
    background-color: #5ea51d;
    color: #fff;
}

.propertiescontainer{
    background-color: #77757521;
  width: 100%;
  height:120vh;
}
.propertiescontainer .subheading{
    font-size: 13px;
  display: block;
  padding-top: 50px;
  color: #5ea51d;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center !important;
}
  
.propertiescontainer h2{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center !important;
}
.propertycards{
    height: 80vh;
 display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.propertycard1 , .propertycard2 , 
.propertycard3 , .propertycard4{
    background-color: white;
    height: 65vh;
}
.price{
    background-color: #3f4042;
    position: relative;
    height: 40vh;
    width: 20vw;
    margin-bottom: 10px;
}
.propertyimages {
  height: 40vh;
  width: 20vw;
  cursor: pointer;
  opacity: .6;
}
.propertyimages:hover{
opacity: .8;
}
.btnprice{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #5ea51d;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#propertyh4{
    margin-left: 20px ;
    margin-top: 10px;
cursor: pointer;
}
.person{
    color: #3f40429f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 20vw;
    padding-left: 10px;
    font-size: 14px;
}

.person p{
    margin-left: 15px;
}
.personimage{
    height: 40px;
    width: 40px;
border-radius: 50%;

}
.countrysale{
    height: 20px;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
color: #3f40429f;
font-size: 14px;
padding-left: 20px;
}
.countrysale i{
    margin-right: 5px;
    color: #5ea51d;
}
.countryrent i{
    margin-right: 5px;
    color: #5ea51d;
}
#sale{
    background-color:#5ea51d;
    width: 35px;
    height: 25px;
    text-align: center;
font-size: 14px;
    color: #fff;
    margin-left: 40px;
   
}
.countryrent{
    height: 20px;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
color: #3f40429f;
font-size: 14px;
}
#rent{
    background-color:rgba(255, 0, 0, 0.466);
    width: 40px;
font-size: 14px;
    color: #fff;
    margin-left: 40px;
    text-align: center;
}
.propertyinfo{
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 10px;
    color: #999999;
}
.propertyinfo span{
margin-right: 20px;
}
.propertyinfo img{
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.videocontainer{
    width: 100%;
    height: 100vh;
    background-image: url("images/bg_4.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.videotext{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
max-width: 40%;
text-align: center;
}
.videocontainer img{
    height: 80px;
    width: 80px;
margin-top: 10px;
}
.aboutuscontainer{
    height: 180vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutimg1{
 height: 152vh;
    width: 30vw;
    flex: 1;
}
.aboutimg1 img{
    margin-left: 50px;
    width:89%;
    height: 100%;
}
.abouttxtandimg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    
}
.abouttext{
    max-width: 80%;
}
#aboutp{
    color: #999999;
}

.aboutrating{
    margin-right: 100px;
    height: 100px;
    display: flex;
    column-gap: 20px;
}
 #ratingp{
    font-size: 14px;
    color: #5ea51d;}

.abouttxtandimg img{
    margin-top: 50px;
width: 90%;

}
.greencontainer{
    height: 40vh;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
opacity: .9;
  background-image: url("images/bg_4.jpg.webp");
  background-position: center center;
  background-repeat: no-repeat;
position: relative;
}
.greenoverlay{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
  background: #5ea51d;
  z-index: -1;
}

.greentext{
    max-width: 35%;
    color: white;
}
.greencontainer button{
    color: white;
    background-color: #000000;
    height: 60px;
    width: 150px;
}
.testmonialcontainer{
    height: 110vh;
    width: 100%;
    background-color:#99999928;

}
.testmonialtext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.testmonialtext p{
color: #5ea51d;
font-size: 12px;
margin-top: 100px;
}

.testmonialcards{
    height: 70vh;
    width: 100%;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testcardtext{
  margin: 10px;
}
.testcard1 , .testcard2 , .testcard3{
    height: 350px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .testpersondetail{
    display: flex;
    margin: 10px;
}
.testcard1 img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.testcard2 img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.testcard3 img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.circle{
    height: 30px;
    width: 30px;
    display: flex;
    gap: 5px;
    margin-left: 50%;
        justify-content: center;
    align-items: center;
    }
.circle1{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #77787993;
}
.circle2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4d4e50;
}
.agentscontainer{
    height: 120vh;
    width: 100%;
    display: flex;
}
.ouragents{
background-color: #06112a;
width: 65%;
height: 120vh;
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.agentshead h3{
    color: #5ea51d;
font-size: 14px;
}
.agentshead h1{
font-size: 50px;
    color: #f5f3f3;
}
.agentcards{
    margin-top: 80px;
color: #f5f3f3;
height: 60%;
display: flex;
justify-content: flex-end;
align-items: center;
width: 100vw;
margin-left: 350px;
gap: 30px;
}
.agentcard1{
background-color: #5ea51d;
    height: 100%;
    width: 270px;
}
 .agentimg img:hover{
    transform: scale(1.1);
    transform-origin: 50% 50%;
}
.agentimg{
    height: 65%;
    width: 100%;
    overflow: hidden;   
}
 .agentimg img{
    height: 100%;
    width: 100%;
    transition: transform .4s; 
}
.agentinfo{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}
.agentinfo h4{
    font-size:14px;
}
.agenth4{
    width: 180px;
    justify-content: space-between;
    display: flex;
   
}
.socialagentaccount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
width: 80%;
}
.socialagentaccount i{
    background-color: #98a88973;
border: 1px solid rgba(0, 0, 0, 0.056);
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.agentcard4{
    background-color: #5ea51d;
        height: 70%;
    margin-top: 155px;  
      width: 270px;
    margin-left: 50px;
    color: #f5f3f3;
    }
.blogscontainer{
    background-color:#99999928;
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogstext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogstext h4{
color: #5ea51d;
font-size: 14px;
}
.blogstext h1{
     font-size: 45px;
}
.blogcards{
    height: 60%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.blogcard1{
    height: 100%;
    width: 280px;
    background-color: #ffffff;
}
.blogimg{
    height: 45%;
}
.blogimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.blogtxt1{
    height: 50px;
    font-size: 14px;
    color: #999999;
display: flex;
align-items: center;
justify-content: center;
   
}
.blogtxt1 p{
 padding-left: 5px;
}
#comnts{
   font-size: 12px;
margin-left: 40px;
    color: #5ea51d;
}
.blogh{
    max-width: 70%;
    margin-left: 40px;
    cursor: pointer;
}
.blogh:hover{
    color: #5ea51d;
}
.blogp{
    color: #999999;
    max-width: 70%;
    margin-left: 40px;
    text-align: justify;
    
}

.gallerycontainer{
    height: 300px;
    width: 100%;
    display: flex;
    
}
.galleryimages{
    display: flex;

}
.img1{
    height: 100%;
    width: 224px;
    background-image: url("images/gallery-1.jpg.webp");
    background-position:center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 0;
}
.img2{
    height: 100%;
    width: 225px;
    background-image: url("images/gallery-2.jpg.webp");
    background-position:center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.img3{
    height: 100%;
    width: 225px;
    background-image: url("images/gallery-3.jpg.webp");
    background-position:center;
background-repeat: no-repeat;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;
}
.img4{
    height: 100%;
    width: 225px;
    background-image: url("images/gallery-4.jpg.webp");
    background-position:center;
background-repeat: no-repeat;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;
}
.img5{
    height: 100%;
    width: 225px;
    background-image: url("images/gallery-5.jpg.webp");
    background-position:center;
background-repeat: no-repeat;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;
}
.img6{
    height: 100%;
    width: 225px;
    background-image: url("images/gallery-6.jpg.webp");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.searchicon{
height: 40px;
width: 40px;
    background-color: #5ea51d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     opacity: 0;
}
.searchicon:hover{
    transition: all 0.3s ease;
    opacity: 1;
}
.searchicon i{
    color: #f5f3f3;
}

.footerinfo{
    height: 70vh;
    width: 100%;
    background: #06112a;
    display: flex;
justify-content: center;
align-items: center;
}
.footercontainer{
    max-width: 90%;
display: flex;

}
.col1{
  
    height: 350px;
    width: 200px;
color: #f5f3f3;
}
.col1head
{
    display: flex;
    flex-direction: column;
}
.col1head h1{
  
height: 42px;
width: 350px;
}
.col1head h4{
    font-size: 14px;}
.col1 p{
    color: #999999;
    margin-top: 20px;
    max-width: 80%;

}
.socialicons{
    cursor: pointer;
height: 55px;
width: 70%;
margin-right: 80px;
margin-top: 10px;
display: flex;
align-items: center;
justify-content: space-around;
}
.socialicons i{
    height: 40px;
    width: 40px;
    background-color: #5ea51d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

ul{
    height: 150px;
    margin-top: 40px;
    list-style: none;
}

li{
height: 40px;
width: 200px;

}
li :hover{
    color: #5ea51d;
}

footer{
   height: 20vh;
   width: 100%;
 background-color: #050d21 !important;
  color: #999999;
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
footer a{
    transition: .3s all ease;
    color: #5ea51d;
    text-decoration: none;
}